<html>
	<head>
		<title>Text Recognizer</title>

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="js/handlebars.js"></script>
		<link type="text/css" rel="stylesheet" href="css/main.css" media="screen">
	</head>
	<body>
		<h1>Text recognition</h1>

		<div class='board'>
		</div>

		<button id='clear'>Clear</button>
		<button id='learn'>Learn</button>
		<button id='do'>Do</button>

		<script id="letters-template" type="text/x-handlebars-template">
			<ul>
				{{#each letters}}
					<li>
						<canvas id='{{this}}' width='{{../width}}' height='{{../height}}'></canvas>
					</li>
				{{/each}}
			</ul>
		</script>



		<script src='js/dataset.js'></script>
		<script src='js/main.js'></script>
	</body>
</html>
